$titleFonts: 'freight-display-pro', cursive;
$subheadings: 'kepler-std-semicondensed-dis';
$bodyFonts: 'proxima-nova-alt', sans-serif;
$secondary-color: #deddda;
$navHeight: 10%;
$margin: 1%;
$darkgray: #383838;
$lightblue: #D0FFF5;
$arrowSize: 3em;

%marginReset {
    margin: 0;
    padding: 0;
    border: 0;
}

@mixin squareText {
    background: white;
    max-width: 60%;
    min-width: 800px;
    margin: 1% auto;
    padding: 1em;
    border: 2px solid black;
}
