@import 'includes.scss';

#desktop {
    display: none;
}

#phone {
    text-align: center;
}

#mobileMenu {
    margin-top: 5%;
    span{
        cursor: pointer;
        padding: 5%;
    }
    #navOverlay {
        background: rgba(0,0,0,0.7);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
    }
    #mobileNav{
        width: 35%;
        z-index: 998;
        position: absolute;
        left: 0%;
        height: 100%;
        background: white;
        li {
            list-style-type: none;
            text-decoration: none;
            margin: 8% 0 8% 10%;
            a {
                text-decoration: none;
                padding: 8%;
            }
        }
    }
}

#wrapper {
    display: none;
}

#video {
    width: 50%;
    margin: 5% auto;
    background: black;
}

.even,
.odd {
    p {
        text-align: justify;
    }
}

.even {
    background: white;
    padding: 2%;
}

.odd {
    background: $secondary-color;
    padding: 2%;
}


#contentTitle {
    h3 {
        text-decoration: none;
    }
}

.accordion-title {
    cursor: pointer;
    border-bottom: black solid 1px;
}

p.left{
    text-align: left;
}

#gallery {
    list-style: none;
    text-align: center;
    img {
        width: 80%;
        margin: 5% auto;
    }
}

#overlay{
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  text-align: center;
    p{
        margin: 2%;
    }
    img {
        padding-top: $navHeight / 1.5;
    }
}
